body{
    padding: 30px;
    background: #343a40!important;
    min-height: 100vh;
    color: #eee;
}

.about-container {
    position: relative;
    display: flex;
}

h1:after {
    content: '';
    width: 100px;
    height: 5px;
    background-image: linear-gradient( to right, #f9bf12, #ef197e);
    display: block;
    margin: 10px 0px 30px;
}

nav.navbar{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 80px
}
nav .logo {
    position: relative;
}
nav .logo img{
   max-width: 250px;
}

.about-container h4 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 40px
}

.image.col {
    position: relative;
}
.image.col img{
    position: absolute;
    bottom: 0px;
    width: 50vw;
    max-width: 450px;
    right: 0px;
}

.nav-links {
    text-transform: uppercase;
}

.nav-links a{
    padding-right:0px;
}

nav .logo img {
    max-width: 25vw;
}

.bio.col {
    padding-bottom: 30px;
}
.nav-links {
    width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px){

nav .logo{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    nav .logo img {
    max-width: 300px;
}
.nav-links {
    width: 100%;
    max-width: 100%;
}
.about-container{
    display: flex;
    flex-wrap: wrap!important;
}
.about-container div.col{
    width: 100%;
    flex-basis: unset;
    padding: 0px!important
}
.image.col img{
    position: relative;
}
.image.col{
    order: 2;
}
.bio.col{
    order: 1;
}
}
.portfolio-preview , .contact-preview {
    width: 50vw;
    max-width: 50vw;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio-preview{
    background-image: url("../../Images/MyPortfolio.jpg");
    background-size: cover;
    background-position: center;
}
.contact-preview {
    background-image: url("../../Images/ContactMe.jpg");
    background-size: cover;
    background-position: center;
}
.portfolio-preview a{
    color: #343a40;
    background-image: linear-gradient(to left, rgba(142, 133, 9, 0.8),rgba(249, 233, 18, 1)) ;
    padding: 75px 30px;
    width: 100%;
    display: block;
}
.contact-preview a{
    color: #eee;
    background-image: linear-gradient(to right, rgba(113, 29, 71, 0.8), rgba(251, 78, 164, 1));
    padding: 75px 30px;
    width: 100%;
    display: block;
}
.fullwidth-section {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
@media (min-width: 576px){
.fullwidth-section {
    margin-left: calc( -50vw + (540px / 2) - 15px);
}
}
@media (min-width: 768px){
.fullwidth-section {
    margin-left: calc( -50vw + (720px / 2) - 15px);
}
}
@media (min-width: 992px){
.fullwidth-section {
    margin-left: calc( -50vw + (960px / 2) - 15px);
}
}
@media (min-width: 1200px){
.fullwidth-section {
    margin-left: calc( -50vw + (1140px / 2) - 15px);
}
}
@media (max-width: 575px){
.fullwidth-section {
    margin-left: -15px;
}
.portfolio-preview , .contact-preview {
    width: 100vw;
    max-width: 100vw;
}
}
nav.navbar:after {
    content: '';
    width: 100%;
    display: block;
    background: #000;
    height: 1px;
    width: 60vw;
    margin: auto;
}

footer.bg-dark {
    padding: 30px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
.nav-links a.active{
    color: yellow;
}

form label, form input, form textarea{
    width: 100%;
}
form label{
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}
form input{
    padding: 8px 15px;
}
form input, form textarea{
    border-radius: 8px;
    border: 1px solid #000;
    margin-bottom: 20px
}
form div.button{
    display: flex;
    justify-content: flex-end!important;
}
button {
    background-color: #f73d90;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    font-size: 1.2em;
    letter-spacing: 0.04em;
    border: none;
    padding: 15px 30px;
    line-height: 1em;
}
button:hover {
    background-color: rgba(247, 61, 144, 0.8);
}

section {
    margin-bottom: 80px;
}

.oops {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px 50px 0px;
}
.oops div{
    width: 50%;
}
.oops-image img {
    width: 100%;
}

.oops-content {
    padding: 30px;
}

@media only screen and (max-width: 767px){
    .oops div{
    width: 100%;
}
.oops {
    padding: 0px 50px 0px 0px;
}
}